@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600&display=swap');

body {
  /* border: 1px solid black; */
  background-image: url("./images/bulldog.jpg");
  background-repeat: no-repeat;
  background-color: #F0ECEE;
  font-family: Fira Sans, sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
  /* box-sizing: border-box; */
  padding: 25px 75px;
}

.accent-color {
  color: #FF4850;
}



/* -------------------------- Navigation -------------------------- */

nav {
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: #FF4850;
}

a:link,
a:visited {
  padding: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5em;
  color: #88898B;
}

a:hover,
a:active {
  color: #FF4850;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1 {
  font-size: 2.0em;
  font-weight: 400;
}

.nav-links {
  list-style: none;
  display: flex;
}

#btn {
  border-radius: 5px;
  padding: 10px;
  background: #FF4850;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

#btn:hover,
#btn:active {
  background: #88898B;
  color: #ffffff;
}

/* -------------------------- Call To Action -------------------------- */

.cta {
  margin-left: 0;
  margin-right: 900px;
  align-content: left;
  padding: 160px 0;
}

p {
  color: #88898B;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5em;
}

h2 {
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.5em;
}

@media (min-width: 768px) {
  
}